<div class="home__container">
	<app-card gameCover="assets/slime1.jpeg" gameLabel="SLIMES" gameType="DIGITAL | PS4" gamePrice="R$ 129,99">
	</app-card>
	<app-card gameCover="assets/slime2.png" gameLabel="NEW" gameType="DIGITAL | PS5" gamePrice="R$ 269,99">
	</app-card>
	<app-card gameCover="assets/dream.jpg" gameLabel="BEST OF YEAR" gameType="DIGITAL | PS5" gamePrice="R$ 349,99">
	</app-card>
	<app-card gameCover="assets/sims.jpg" gameLabel="EXCLUSIVE" gameType="DIGITAL | PS3 PS4 PS5" gamePrice="R$ 500,99">
	</app-card>
	<app-card gameCover="assets/unp.png" gameLabel="NEW" gameType="DIGITAL | PS3 PS4 PS5" gamePrice="R$ 369,99">
	</app-card>
	<app-card gameCover="assets/minecraft.png" gameLabel="EXCLUSIVE" gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 250,00">
	</app-card>
</div>